
.root {
  display: flex;
}
.homeBackground {
  background: url(./nhlwallpaper.jpg) no-repeat center center fixed; 
  background-size: 130% 100%;
  -webkit-background-size: 130% 100%;
  -moz-background-size: 130% 100%;
  -o-background-size: 130% 100%;
  background-position: 0 60px;
  min-height: 100vh;
}
.content {
  flex-grow: 1;
  padding: 24px;
  padding-right: 40px;
}
.homeContent {
  flex-grow: 1;
}
.rootMainContent {
  width: 100%;
  margin-top: 24px;
  overflow-x: auto;
}
.title {
  padding-left: 30px;
  padding-top: 10px;
}
.cursor {
  cursor: pointer;
}
.drawer {
  width: 300px;
  flex-shrink: 0;
}
.avatar {
  margin: 10px;
}
.modal{
  top: 30%;
}

@media only screen and (max-width: 600px) {
  .homeBackground {
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
}
